/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  --mat-card-title-text-size: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}

/* Snackbar styles */
.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}
